.todo {
  width: 600px;
}
h1 {
  color: #fff;
  margin: 0.4rem;
}

.add-todo {
  display: flex;
  align-items: center;
  background-color: #364156;
  padding: 0.4rem;
  margin: 0.4rem;
  border-radius: 4px;
}
.add-todo-input {
  border: none;
  width: 80%;
  height: 20px;
  padding: 0.1rem;
  background-color: #adacb5;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 2px 0 0 2px;
  transition: ease-in-out 0.2s;
}
.add-todo input:focus {
  outline: none;
  border: 1px solid #b0d7ff;
  background-color: #fff;
}
.add-todo input:hover {
  border: 1px solid #b0d7ff;
}
.add-todo-button {
  width: 20%;
  height: 25px;
  margin-top: 1px;
  background-color: #d66853;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  border-radius: 0 2px 2px 0;
  transition: ease-in-out 0.2s;
}

.todo-list {
  margin: 2rem 0;
}
.todo-list p {
  text-align: center;
  color: #adacb5;
  font-weight: 600;
  width: 100%;
}

.todo-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.4rem;
  padding: 1rem 0.4rem 1rem 1rem;
  background-color: #364156;
  color: #adacb5;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: ease-in-out 0.2s;
}

.todo-card:hover {
  border: 1px solid #b0d7ff;
  color: #fff;
}

.todo-buttons {
  color: #212d40;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.todo-buttons:hover {
  color: #b0d7ff;
}

.edit-todo {
  display: flex;
  flex-direction: column;
  background-color: #364156;
  padding: 0.4rem;
  margin: 0.4rem;
  border-radius: 4px;
  max-width: 600px;
}
.edit-todo h2 {
  display: flex;
  align-items: center;
  color: #fff;
  text-indent: 0.4rem;
}
.edit-todo input {
  border: none;
  margin: 0.2rem 0;
  height: 20px;
  padding: 0.1rem;
  background-color: #adacb5;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 2px;
  transition: ease-in-out 0.2s;
}
.edit-todo input:focus {
  outline: none;
  border: 1px solid #b0d7ff;
  background-color: #fff;
}
.edit-todo input:hover {
  border: 1px solid #b0d7ff;
}
.edit-todo-date-time {
  display: flex;
  justify-content: space-between;
}
.edit-todo-date-time input {
  width: 390px;
}
.edit-todo-buttons {
  display: flex;
  justify-content: space-between;
}
#edit-todo-button {
  margin: 0.4rem 0;
  height: 30px;
  width: 295px;
  background-color: #d66853;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
