@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=PT+Sans&family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: Quicksand, Oxygen, "PT Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #11151c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
